<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{student.name}}</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-list>
    <ion-item >
      <ion-label>
        <h2>Name: {{student.name}}</h2>
        <h2>Adress: {{student.address}}</h2>
        <h2 *ngFor="let phone of student.phones">
          <ion-item>
            <h2>{{phone.description}}</h2>
            <h2>{{phone.number}}</h2>
          </ion-item>
        </h2>
      </ion-label>
    </ion-item>
  </ion-list>

</ion-content>
