<ion-list>
  <ion-list-header>
    Telematics Students
  </ion-list-header>
  <ion-item *ngFor="let student of telematicStudents" (click)="goToPageInfo(student.name)">
    <ion-label>
      <h2>{{student.name}}</h2>
    </ion-label>
  </ion-item>
  <ion-list-header>
    System Students
  </ion-list-header>
  <ion-item *ngFor="let student of systemStudents" (click)="goToPageInfo(student.name)" >
    <ion-label>
      <h2>{{student.name}}</h2>
    </ion-label>
  </ion-item>
  <ion-list-header>
    Aeros Students
  </ion-list-header>
  <ion-item *ngFor="let student of aeroStudents" (click)="goToPageInfo(student.name)">
    <ion-label>
      <h2>{{student.name}}</h2>
    </ion-label>
  </ion-item>
</ion-list>
